@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.container {
  position: relative;
  z-index: 10;
  max-width: 1900px;
  padding: 1.5rem;
  margin: auto;
  overflow: hidden;
}
.container footer {
  text-align: center;
}

.btn-dark, .btn-light, .btn-main {
  display: inline-block;
  padding: 0.4rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.btn-main {
  color: rgb(214, 214, 214);
  background-color: purple;
}
.btn-light {
  color: #333;
  background-color: #f4f4f4;
}
.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

button[class^=btn-]:hover,
a[class^=btn-]:hover,
input[class^=btn-]:hover {
  background-color: rgb(254, 182, 254);
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.gallery-horizontal {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.gallery-vertical {
  max-width: 1900px;
  margin: auto;
  overflow: auto;
}
.gallery-vertical .card {
  display: grid;
  grid-auto-rows: auto;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #f4f4f4;
}
.gallery-vertical .card img {
  height: 100%;
}

.team-vertical {
  max-width: 1900px;
  margin: auto;
  overflow: auto;
}
.team-vertical .card {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #e5f4fd;
}
.team-vertical .card .ziv {
  object-position: center bottom;
}
.team-vertical .card .yot {
  object-position: center top;
}
.team-vertical .card img {
  height: 600px;
  object-fit: cover;
}

.body-gallery {
  background: url(../assets/images/Inspo.jpeg) center/cover;
}
.body-gallery2 {
  position: relative;
  background: #333;
}
.body-team {
  background-color: #002d49;
  max-height: auto;
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  25% {
    opacity: 0.1;
  }
  50% {
    color: #96d4fb;
    opacity: 0.3;
  }
  75% {
    opacity: 0.6;
  }
  85% {
    opacity: 0.9;
    color: violet;
  }
  100% {
    opacity: 1;
  }
}
.mobile-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.mobile-nav .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.mobile-nav .toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.body-gallery.active {
  background: url(../assets/images/Inspo.jpeg) center/cover;
  transform: translateX(-300px);
}

.body-gallery2.active {
  position: relative;
  background: #333;
  transform: translateX(-300px);
}

.body-team.active {
  transform: translateX(-300px);
}

.header-home.active {
  transform: translateX(-300px);
}

.mobile-menu {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu ul {
  position: relative;
}
.mobile-menu ul li {
  list-style: none;
}
.mobile-menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.mobile-menu ul li a:hover {
  color: rgb(254, 182, 254) !important;
}

.mobile-menu.active {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  line-height: 1.6;
  background-color: white;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.mobile-nav img {
  width: 150px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.main-nav img {
  width: 150px;
}
.main-nav ul {
  display: flex;
}
.main-nav li {
  padding: 1rem 1.5rem;
}
.main-nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
.main-nav a:hover {
  border-color: violet;
}
.main-nav a.current {
  border-color: purple;
}

.header-home {
  background: url(../assets/images/17-21\ -\ 1330.MOV) no-repeat center right/cover;
  height: 100vh;
  color: #fff;
}
.header-home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(140, 3, 244, 0.0862745098);
  mix-blend-mode: overlay;
}
.header-home .header-content {
  text-align: center;
  padding-top: calc(25% - 10vh);
}
.header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}
.header-home .header-content .social {
  margin-top: calc(25% - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.header-home .header-content .social .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-home .header-content .social li a {
  display: block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.7);
  transition: 0.5s;
}
.header-home .header-content .social li a:hover {
  transform: scale(0.7) translateY(-15px);
}
.header-team {
  height: 100vh;
  color: #fff;
  background: url(../assets/images/OriginInspo.jpeg) center center/cover;
}
.header-team .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0398f4;
  mix-blend-mode: overlay;
}
.header-team .header-content {
  text-align: center;
  padding-top: calc(29% - 40vh);
  opacity: 0;
  animation: fadeup 1s ease-in-out 1 0.5s normal forwards;
}
.header-team .header-content p {
  width: 40%;
  margin: auto;
}
.header-team .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}

.thumbnails-container {
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  width: 1900px;
}

.thumbnails {
  position: absolute;
  bottom: calc(1rem + 10vh);
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.thumbnails div {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: purple;
  border-radius: 100%;
}

.thumbnails div.highlighted {
  background-color: rgb(254, 182, 254);
}

.slides {
  margin: 0 16px;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  width: 1900px;
  padding: 0 0.25rem;
  height: 80vh;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  object-fit: center/cover;
}

.slides > div {
  scroll-snap-align: start;
}

.slides img {
  aspect-ratio: 16/9;
  inline-size: 1900px;
  object-fit: cover;
}

.slides::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=main.css.map */
